body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

#rps-buttons {
    position: absolute;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 13%;
}

.rps-btn {
    padding: 20px 40px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

.roundOutcome {
    position: absolute;
    top: 30%;
    padding: 0;
}

.gameOutcome {
    position: absolute;
    padding: 0;
    top: 30%; 
}

.roundsWon {
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.playerRoundsWon {
    padding: 0;
    list-style-type: none;
    display: flex;
}

.computerRoundsWon {
    padding: 0;
    list-style-type: none;
    display: flex;
}

.starWon {
    margin-right: 10px;
}

.starWon img {
    height: clamp(12px, 5vw, 30px);
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(258deg) brightness(109%) contrast(98%);
}

#btn-reset {
    display: none;
}

#gameWinText {
    display: none;
}

#gameLoseText {
    display: none;
}

#roundWinText {
    display: none;
}

#roundLoseText {
    display: none;
}

#roundDrawText {
    display: none;
}

@media only screen and (max-width: 600px) {
    .roundsWon {
        width: 90%;
        justify-content: space-between;
    }
    .starWon {
        margin-right: 5px;
    }

    #rps-buttons {
        margin-bottom: 40%;
    }
}